<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form th:action="@{/}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
    <a href="/register"><button type="button">Register</button></a>
    <p th:if="${param.error}" class="error-message">Invalid username or password</p>
</div>
</body>
</html>